@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Inter-400.woff2") format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/Inter-800.woff2") format('woff2');
}

h1 {
  font-size: 3rem;
  text-shadow: 0px 0px 3px #ffffff, 4px 4px black;
  line-height: 0.8;
  &::before {
    content: "# ";
    white-space: nowrap;
  }
}
h2 {font-size: 1.5rem}
h3 {font-size: 1rem}
h4 {font-size: .5rem}
p {max-width: 75ch}

body {
  background-color: hsl(0, 0%, 1%);
  color: white;
  font-family: Inter, sans-serif;
  margin: 0px;
}

html {
  scroll-behavior: smooth;
}

header {
  position: sticky;
  top: 0px;
  z-index: 1;
  background-color: #141414;

  nav {
    position: relative;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 1000px;
    margin-inline: auto;
    height: 50px;
    box-sizing: border-box;
    padding: 5px;
    z-index: 1;
  
    .logoContainer {
      position: relative;
  
      .logo {
        height: 100%;
      }
    }
  
    .sections {
      margin-left: auto;
      display: flex;
      place-items: center;
      gap: 10px;
  
      .sectionLink {
        padding: 10px;
        // background-color: #3f51b5;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        font-family: helvetica;
        font-weight: 600;
        font-size: 1.2rem;
        transition: .2s all;
  
        &:hover {
          background-color: #004fff;
        }
      }
    }
  }
}

.container {
  position: relative;
  width: min(100%, 1000px);
  margin-inline: auto;
  box-sizing: border-box;
  background-color: #d7d7d7;
  background-image: url("../images/diamond.png");
  background-size: 10%;
  background-size: clamp(45px, 10%, 100px);
  isolation: isolate;
  padding-bottom: 10px;

  section {
    position: relative;
    padding: 50px;
    margin-bottom: min(calc(50vw + 180px), 680px);
    display: grid;
    place-items: center;
    place-self: center;
    &:last-of-type {margin-bottom: min(calc(30vw + 40px), 400px)}

    > p {text-align: center}

    img.responsive {
      position: relative;
      max-width: 100%;
    }
  
    img.borderImage {
      position: absolute;
      pointer-events: none;
      -webkit-user-select: none;
      user-select: none;
      z-index: -1;
      width: 100%;
      left: 0;
      clip-path: inset(-150% -1px); // Hides the drop shadow from the left and right sides

      &.bottom {
        top: calc(100% - 1px);
        filter: drop-shadow(0px 12px 27px black);
      }
      
      &.top {
        bottom: calc(100% - 1px);
        filter: drop-shadow(0px -12px 27px black);
      }
    }

    a {
      --color: #fb00ff;
      all: unset;
      text-shadow: 0px 0px 2px #00000052;
      background-image: linear-gradient(to left top, var(--color), var(--color));
      background-size: 100% 2px;
      background-repeat: no-repeat;
      background-position-y: bottom;
      font-weight: 600;
      transition: .2s all;
      color: var(--color);
      cursor: pointer;
      
      &:hover {
        background-image: linear-gradient(to left top, red, blue);
        background-size: 100% 100%;
        padding-inline: 5px;
        margin-inline: -5px;
        color: white;
      }
    }
  }
}

#home {background: linear-gradient(180deg, #FF9900 0%, #FF0002 85.62%)}

#products {
  background: linear-gradient(180deg, #A812A4 2.72%, #3D006D 108.56%);

  .cardContainer {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: left;
    flex-wrap: wrap;
    
    .card {
      flex-grow: 1;
      width: 50px;
      max-width: 250px;
      min-width: min-content;
      background-color: #ffffff26;
      margin: 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 10px;
      box-sizing: border-box;
      box-shadow: 4px 4px #00000069;
  
      h2, h3 {
        white-space: nowrap;
        margin: 0px;
      }
      h2 {text-shadow: 3px 3px black} 
      p {margin: 0px}
  
      .cardImage {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

#contact {
  background: linear-gradient(180deg, #0094C7 0%, #00FF57 100%);

  .infoContainer {
    justify-content: center;
    position: relative;
    text-align: left;
    flex-wrap: wrap;
    max-width: 100%;
    display: flex;
    padding: 5px;
    width: 100%;
    gap: 50px;
  
    address p {
      margin: 0px;
    }
  
    h1 {
      margin-top: 0px;
    }
  
    .left {
      position: relative;
      width: min-content;
      max-width: 300px;
      flex-grow: 1;
    }
    
    iframe {
      position: relative;
      aspect-ratio: 1 / 1;
      width: min(300px, 100%);
      max-width: 450px;
      flex-grow: 1;
      height: max-content;
      align-self: center;
    }
  }
}

@media screen and (max-width: 600px) {
  .container section {
    padding: 10px;
  }
}
@media screen and (max-width: 370px) {
  .container section {
    padding: 10px;
  }

  h1 {
    margin-top: 5px;
  }

  header nav .sections {
    gap: 0px;
    justify-content: space-between;
    margin-left: 15px;
    width: 100%;

    .sectionLink {
      padding: 2px;
      margin: 0px;
      font-size: 5vw;

      &:hover {
        padding: 12px;
        margin: -10px;
        z-index: 1;
      }
    }
  }
}