body {
  margin: 0px;  
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("../images/background.jpg");
  font-family: helvetica;
  text-align: center;
  
  .container {
    position: absolute;
    display: grid;
    inset: 0px;
    height: max-content;
    padding-bottom: 100px;
  }
}

h1 {
  text-shadow: 5px 5px #c6918d;
  font-weight: 100;
  font-family: impact;
  font-size: 45px;
  color: #004fff;
}

h2, h3 {
  font-weight: 100;
  font-family: impact;
  margin: 2px;
}

nav {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #75b3c6;
  box-sizing: border-box;
  padding: 5px;
  z-index: 1;
  box-shadow: 0 0 6px 3px #75b3c6;

  .logoContainer {
    position: relative;

    .logo {
      height: 100%;
    }
  }

  .buttons {
    margin-left: auto;
    display: flex;
    place-items: center;
    gap: 10px;

    .button {
      padding: 10px;
      background-color: #3f51b5;
      color: #fff;
      text-decoration: none;
      border-radius: 5px;
      font-family: helvetica;
      font-weight: 600;
      font-size: 15px;
      transition: .2s all;

      &:hover {
        background-color: #004fff;
      }

      &.active {
        background-color: #004fff;
      }
    }
  }
}

.bodyContainer {
  position: relative;
  display: grid;
  top: 50px;
  place-items: center;
  width: calc(100% - 100px);
  place-self: center;
  margin-top: 100px;

  img {
    position: relative;
    max-width: 100%;
  }

  p {
    max-width: 75ch;
  }
}

.cardContainer {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: left;
  flex-wrap: wrap;
  
  .card {
    flex-grow: 1;
    width: 120px;
    max-width: 200px;
    background-color: #b0278d8f;
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 4px 4px #00000078;

    h2 {
      white-space: nowrap;
    }

    .cardImage {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    p {
      margin: 0px;
    }

    h3 {
      color: rgb(44, 44, 44);
      font-style: italic;
      font-size: 14px;
    }
  }
}

.infoContainer {
  justify-content: center;
  position: relative;
  text-align: left;
  flex-wrap: wrap;
  max-width: 100%;
  display: flex;
  padding: 5px;
  width: 100%;
  gap: 50px;

  address p {
    margin: 0px;
  }

  h1 {
    margin-top: 0px;
  }

  img, .left {
    position: relative;
    width: 150px;
    max-width: 300px;
    flex-grow: 1;
  }
  
  img {
    height: max-content;
    align-self: center;
  }
}

@media screen and (max-width: 530px) {
  .bodyContainer {
    width: calc(100% - 10px);
    margin-top: 0px;
  }
}